body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h4 {
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
  background-color: #fff;
  margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid #ddd;

}

button {
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.update-btn{
    background-color: #43b9ebe4;
  }
   .del-btn{
    background-color: #5b1313dd;
  
  }
    
.edit-btn{
    background-color: #3b57e5;
  
  }
button:hover {
    background: #4f97a5cd;
    color: #373232;
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background: linear-gradient(to right, #ff9966 0%, #ff5e62 100%);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.5s;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background: linear-gradient(to right, #ff5e62 0%, #ff9966 100%);
}
.faculty-item {
    display: flex;
    justify-content: space-between;
  }
  
  .faculty-name {
    float: right;
  }
  
  .button-container {
    float: left;
  }
  .program-item {
    display: flex;
    justify-content: space-between;
  }
  
  .program-name {
    float: right;
  }
  .university-item {
    display: flex;
    justify-content: space-between;
  }
  
  .university-name {
    float: right;
  }    
  .main{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }